



body{
	background: url('../images/postit-background.png');
	background-size: cover;
	margin: 0 auto;
	position: center center;
	background-repeat: no-repeat;
}

li{
	list-style: none;
}


.postit{
	background-image: url('../images/postit.png');
	background-repeat: no-repeat;
    margin-left: 30%;
    margin-top: 10%;
    padding: 150px 101px;
 
}

form{
}

input[type="checkbox"]:checked + label {
	text-decoration: line-through;
	-webkit-appearance: none;
}

