



body{
	background: url('../images/postit-background.png');
	background-size: cover;
	margin: 0 auto;
	position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
}

li{
	list-style: none;
}


.postit{
	background-image: url('../images/postit.png');
	background-repeat: no-repeat;
    margin-left: 30%;
    padding: 300px 101px;
    font-family: 'Permanent Marker', Arial, serif;
    font-size: 2.5em;
}

.enter-items{
	margin-left: 60%;
	padding: 2%;
	border: none;

}

#input,
#button{
	font-family: 'Permanent Marker', Arial, serif;
	font-size: 1.5em;
	background-color: green;
	color: #000000;
}

#button{
	border: none;
	background: transparent;
}

#input{
	border: solid;
}

ul{

	margin-top: -300px;
}



